* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  color: rgba(0, 255, 0, 0.9);
  padding: 20px;
}

.seat.Available {
  background-color: white;
  height: 10px;
  width: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 2px;
}

.seat {
  background-color: white;
  height: 10px;
  width: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 2px;
}

.seat.occupied {
  background-color: red;
  height: 10px;
  width: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 2px;
}

.seat.selected {
  background-color: green;
  height: 10px;
  width: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 2px;
}

.row {
  display: flex;
  margin: 2px;
}

.movie-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  margin: 50px;
  margin-top: 10px;
}

.movie-container select {
  background-color: lightcyan;
  border: 0;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
}

.seat:nth-of-type(2) {
  margin-right: 15px;
}

.seat:nth-of-type(7) {
  margin-left: 15px;
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
}

.showcase {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.screen {
  background-color: white;
  width: inherit;
  height: 60px;
  margin: 15px 0px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

p.text {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
}

p.text span {
  color: yellow;
}

.btn button {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  color: white;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.125);
}

.btn .submit:hover {
  background-color: rgba(0, 255, 0, 0.6);
}

.btn .gohome:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
  padding: 0px 15px;
  color: rgba(0, 255, 0, 0.75);
}

nav ul li a {
  margin: 0px 15px;
  color: rgba(0, 255, 0, 0.75);
}

.now-playing img {
  margin: 0px 15px;
}

.now-playing img:hover {
  filter: brightness(0.7);
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  /* font-family: Arial, sans-serif; */
  background-color: inherit;
}

h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: none;
  border-color: #00bcd4;
}

.buttons {
  display: flex;
  justify-content: center;
}

input[type="submit"],
input[type="reset"] {
  height: 30px;
  width: 100px;
  margin: 0 10px;
  border-radius: 10px;
  color: white;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.125);
}

input[type="submit"]:hover {
  background-color: rgba(0, 255, 0, 0.25);
}

input[type="reset"]:hover {
  background-color: rgba(255, 0, 0, 0.25);
}

button {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  color: white;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.125);
}

#btn1:hover {
  background-color: rgba(0, 255, 0, 0.25);
}

#btn2:hover {
  background-color: rgba(255, 0, 0, 0.25);
}

/* clock styling */

.clock {
  display: flex;
}

.clock label {
  margin-right: 10px;
}

.clock span {
  width: 70px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.125);
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.clock .text {
  margin-right: 10px;
  height: 15px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  opacity: o.8;
}
